<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cars</title>
    <style>
        table {
            background-color: #f2f3f4;
            color: black;
        }
        th, td {
            padding: 20px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Model</th>
        <th>Series</th>
        <th>Price</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getSeries()}"></td>
        <td th:text="${car.getPrice()}"></td>
    </tr>
</table>
</body>
</html>