<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>


    table {
        border: 1px solid grey;
        border-collapse: collapse;
        width: 100%;
        background-color: #1ae7d6;
        color: #484343;
    }

    td {
        border: 1px solid grey;
        padding: 10px;
    }

</style>
<body>
<table>
    <tr>
        <td><h1>ID</h1></td>
        <td><h1>Name</h1></td>
        <td><h1>Salary</h1></td>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.getId()}"></td>
        <td> <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a></td>
        <td th:text="${user.getSalary()}"></td>
    </tr>
</table>
<a href="/pages/new"><input type="button" value="Create new user"></a>
</body>
</html>